version: "3.8"

services:
    postgres:
        image: postgres:16-alpine
        container_name: furnitown_postgres
        restart: unless-stopped
        env_file:
            - .env.db

        ports:
            - "5432:5432" # để backend chạy local connect được

        volumes:
            - postgres_data:/var/lib/postgresql/data
            - ./db/init:/docker-entrypoint-initdb.d:ro

        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
            interval: 10s
            timeout: 5s
            retries: 5

volumes:
    postgres_data:
